.orders {
    &_th{
        font-size: 14px;
        text-align: center !important;
        font-weight: 700 !important;
        color: black !important;
        padding: 0 3px !important;
    }
    &_item{
     text-align: center;
     white-space: nowrap;
     overflow: hidden;
     padding: 0 3px !important;
    }
    &_span{
        display: block;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 15px; 
        color: white;
        padding: 3px 10px;
        width: 150px;
    }
}
.bold {
    font-weight: 700;
    color: black !important;
}
.rating{
     button {
        padding: 0 !important;
     }
}