.input{
    border: 1px solid #ccc;;
    border-radius: 3px;
    padding: 8px;
    width: 100%;
    margin-bottom: 5px;

}
.input:focus{
    border-color: #503CC3;
}
.dis-date-picker{
    padding-bottom: 5px;
}
.dis-date-picker__label{
    padding-bottom: 3px;
    padding-left: 3px;
}


