
.title-text{
    color: black;
    font-weight: 800 ;
    font-size: 1.2rem;
    margin-bottom: 0 !important;
}
.half{
    width: 95%;
    display: flex;
    gap: 10px;
    &_btn{
       padding: 20px 0px;
       border-radius: 7px;
       width: 50%;
       background-color: #F4F6FA;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       transition: 0.3s;
       &:hover{
        cursor: pointer;
        transform: scale(1.05);
       }
       &__text{
          color: black;
          font-weight: 700;
          font-weight: 1.25rem;
          text-align: center;
       }
    }
}
.order{
    width: 70%;
    @media screen and (max-width: 700px) {
        width: 100%;
      }
    &_payment{
        width: 100%;
        &__hidden{
            display: none;
        }
    }
    &_text-box{
        display: flex;
        gap: 10px;
        font-size: 14px;
    }
    &_block{
        padding: 20px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 700px) {
            flex-direction: column;
          }
    }
    &_date-block{
        padding: 20px 0;
    }
    &_block-item{
        width: 50%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 700px) {
            width: 100%;
            padding: 0;
          }
    }
    &_input{
        border-radius: 10px !important;
        fieldset {
            border-color: #F4F6FA;
        }
      }
    &_area {
        margin-top: 10px !important;
        border-radius: 10px !important;
        fieldset {
            border-color: #F4F6FA;
        }
      }
    &_btn{
        border-radius: 10px !important;
        height: 50px !important;

      }
}
.order-box{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 5px;
      }
}
.order-container{
    padding: 10px 0 0;
    @media screen and (max-width: 700px) {
        padding: 0 10px 0;
      }
}
.confirm{
   padding: 20px;
   background-color: #F4F6FA;
   height: max-content;
   border-radius: 10px;
   &_info{
     display: flex;
     gap: 10px;
     align-items: center;
     margin-bottom: 10px;
   }
   p{
    margin: 0 !important;
   }
   &_colored{
      color: #503CC3;
      font-weight: 900;
   }
   &_title{
    font-size: 25px;
    font-weight: 900;
   }
}
.payment{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &_type{
        width: 22%;
        height: 70px;
        border: 2px solid #E1E6EF;
        border-radius: 7px;
        padding: 5px;
        font-size: 12px;
        transition: 0.3s;
        position: relative;
        &:hover{
            cursor: pointer;
            padding: 0;
        }
        @media screen and (max-width: 950px) {
            width: 45%;
        }

    }
    &_colored{
        width: 100%;
        height: 100%;
        border-radius: 7px;
        background-color: #F4F6FA;
        display: flex;
        justify-content: center;
        align-items: center;
        &__text{
            position: absolute;
            top: 5px;
            left: 5px;
            bottom: 5px;
            right: 5px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            @media screen and (max-width: 1265px) {
                font-size: 11px;
              }
        }
    }
}
.inputs-block{
   display: flex;
   gap: 20px;
   flex-direction: column;
   .error--text{
    color: white !important;
    .v-input__slot{
      background-color: #E61E78 !important;
    }
    input{
        color: white !important;
    }
   }
   &_item{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 10px;
    @media screen and (max-width: 700px) {
        flex-direction: column;
      }
   }
   &_item2{
    width: 49%;
    @media screen and (max-width: 1000px) {
        width: 100%;
      }
   }
}
.yellow-pay{
    background-color: #FBD54A;
}
.inf{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
    &_title{
        color: black;
        font-weight: 600;
    }
    p{
        margin-bottom: 0 !important;
    }
}
.text-style2{
    color: black;
    font-weight: 800;
    font-size: 1rem;
}
.text-style4{
    font-size: 0.8rem;
    color: #667485;
    font-weight: 700;
}
.alert{
    border-radius: 20px !important;
    margin-top: 20px;
}
.red-text{
    color: #EE4C48;
    font-weight: 800;
}
.day-box{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    &_item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px solid #CCD1D6;
        border-radius: 7px;
        padding: 5px 10px;
        width: 100px;
        transition: 0.3s;
        font-size: 12px;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
        @media screen and (max-width: 1000px) {
            width: 18%;
            font-size: 10px;
          }
    }
}
.bordered{
    border: 2px solid #503CC3;
    background-color: #503CC3;
    color: white;
    .text-style2{
        color: white;
    }
}
.bordered-red{
    border: 2px solid #EF6B82;
}
.picked{
    background-color: #503CC3;
    color: white;
    .half_btn__text{
        color: white;
    }
}
.time-input{
    max-width: 200px !important;
}
  