.v-slide-group__content {
    display: flex;
    flex-direction: column;
}
.chip_container{
  background-color: #F4F6FA;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0 10px 10px 0;
  @media screen and (max-width:800px){
    display: none;
}
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    ::-webkit-scrollbar { /* chrome based */
        width: 0px;  /* ширина scrollbar'a */
        background: transparent;  /* опционально */
    }
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
.scrollmenu--block {
    display: inline-block;
    text-align: center;
    border-width: thin;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    padding:0 12px;
    height: 32px;
    line-height: 30px;
    margin: 4px 8px 4px 0;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.active-block {
    color: #503CC3;
    font-weight: 700;
}
.cat-list{
    @media screen and (max-width:800px){
        display: none;
    }
    &__child{
        margin-left: 10px;
    }
    &__line{
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 7px;
    }
    &__text{
        font-size: 13px;
        transition: 0.3s;
        margin-bottom: 7px !important;
        padding-left: 10px;
        &:hover{
            color: #503CC3;
            cursor: pointer;
            transform: translateY(-1px);
        }
    }
}
.cat-menu{
    transition: 0.6s;
}