.container-app {
  margin-top: 5%;
  display: flex;
  height: 60vh;
  position: relative;
 

  &_top-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 77%;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
    @media screen and (max-width: 590px) {
      flex-direction: column;
    }
  }
  &_images {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    height: 80%;
  }
  &_img {
    max-width: 50%;
    bottom: -55px;
    right: -6%;
    position: absolute;
    @media screen and (max-width: 700px) {
      transform: translate(50%);
      left: 0;
    }
  }
  &_top-text {
    font-size: 32px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    @media screen and (max-width: 700px) {
      width: 100%;
      font-size: 24px;
      height: max-content;
      text-align: center;
      gap: 10px;
    }
  }
  &_bot-text {
    font-size: 24px;
    font-weight: 700;
    width: 77%;
    @media screen and (max-width: 700px) {
      width: 100%;
    }
  }
  &_app {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
