@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Black.ttf');
    src: local('Mulish Black'), local('Mulish-Black'),
        url('Mulish-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-BlackItalic.ttf');
    src: local('Mulish Black Italic'), local('Mulish-BlackItalic'),
        url('Mulish-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ExtraBoldItalic.ttf');
    src: local('Mulish ExtraBold Italic'), local('Mulish-ExtraBoldItalic'),
        url('Mulish-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-MediumItalic.ttf');
    src: local('Mulish Medium Italic'), local('Mulish-MediumItalic'),
        url('Mulish-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Medium.ttf');
    src: local('Mulish Medium'), local('Mulish-Medium'),
        url('Mulish-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-SemiBoldItalic.ttf');
    src: local('Mulish SemiBold Italic'), local('Mulish-SemiBoldItalic'),
        url('Mulish-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-BoldItalic.ttf');
    src: local('Mulish Bold Italic'), local('Mulish-BoldItalic'),
        url('Mulish-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ExtraBold.ttf');
    src: local('Mulish ExtraBold'), local('Mulish-ExtraBold'),
        url('Mulish-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-LightItalic.ttf');
    src: local('Mulish Light Italic'), local('Mulish-LightItalic'),
        url('Mulish-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Light.ttf');
    src: local('Mulish Light'), local('Mulish-Light'),
        url('Mulish-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Bold.ttf');
    src: local('Mulish Bold'), local('Mulish-Bold'),
        url('Mulish-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ExtraLightItalic.ttf');
    src: local('Mulish ExtraLight Italic'), local('Mulish-ExtraLightItalic'),
        url('Mulish-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Regular.ttf');
    src: local('Mulish Regular'), local('Mulish-Regular'),
        url('Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-ExtraLight.ttf');
    src: local('Mulish ExtraLight'), local('Mulish-ExtraLight'),
        url('Mulish-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-Italic.ttf');
    src: local('Mulish Italic'), local('Mulish-Italic'),
        url('Mulish-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mulish';
    src: url('Mulish-SemiBold.ttf');
    src: local('Mulish SemiBold'), local('Mulish-SemiBold'),
        url('Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

